<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GotWell.Model.Properties.Settings.hr001ConnectionString"
            connectionString="Data Source=sgequsassetdev;Initial Catalog=hrmsdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GotWell.Model.Properties.Settings.hrmsdbConnectionString"
            connectionString="Data Source=sgequsassetdev;Initial Catalog=hrmsdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GotWell.Model.Properties.Settings.hrmsdbConnectionString1"
            connectionString="Data Source=sgequsassetdev;Initial Catalog=hrmsdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>