<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="GotWell.HRMS.HRMSWeb" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb">
      <section name="Application" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb"/>
      <section name="Logging" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb"/>
      <section name="Reporting" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb"/>
      <section name="Environment" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb"/>
      <sectionGroup name="Connections" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb">
        <section name="HRMS_ConnectionString" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb"/>
        <section name="Excel_ConnectionString" type="GotWell.HRMS.HRMSWeb.Common.ConfigHandler,GotWell.HRMS.HRMSWeb"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <!-- <add name="hrmsdbConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=hrmsdb;Integrated Security=True"
      providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <system.web>
    <!--<sessionState mode="StateServer" timeout="20" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="14400"/>-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="3600"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace-->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="HRMSModule" type="GotWell.HRMS.HRMSWeb.Common.HRMSHttpModule,GotWell.HRMS.HRMSWeb"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="MvcScriptMap" preCondition="classicMode,bitness32" verb="*" path="*.mvc" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll"/>
      <add name="MvcScriptMap64" preCondition="classicMode,bitness64" verb="*" path="*.mvc" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll"/>
    </handlers>
  </system.webServer>
  <GotWell.HRMS.HRMSWeb>
    <Application appname="HRMS"/>
    <!-- level: Admin、Normal、None
    -->
    <Logging level="Admin" logfilesize="10MB" logfilename="HRMSRes.Log"/>
    <Reporting xmlpath="\ReportConfig"/>
    <Environment envname="Development(Dev)"/>
    <Connections>
      <HRMS_ConnectionString DB_Type="MSSql" MSSql="Data Source=sgequsassetdev;Initial Catalog=hrmsdb;user id=micheale; password=abc123;Trusted_Connection=Yes;"/>
      <Excel_ConnectionString DB_Type="Excel" Excel="Provider=Microsoft.Jet.OLEDB.4.0;Data Source =File.xls;Extended Properties='Excel 8.0;HDR=Yes;IMEX=1';"/>
    </Connections>
  </GotWell.HRMS.HRMSWeb>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuthorizationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="5242880" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IAlarmService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IAuthorizationService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/centralservice/AuthorizationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthorizationService" contract="AuthorizationService.IAuthorizationService" name="WSHttpBinding_IAuthorizationService"/>
      <endpoint address="http://localhost:9999/centralservice/AlarmService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAlarmService" contract="AlarmService.IAlarmService" name="WSHttpBinding_IAlarmService"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>